
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo{
  display: flex;
  align-items: flex-start;
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-weight: 600;
  font-size: 2em;
  padding: 20px;
}

.container-search {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
}

.search-input{
  margin-right: 30px;
}

.dictionary-result{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin-left: 10%;
  margin-top: 50px;

}